In [27]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [28]:
training_data_df = pd.read_csv( './DataSet/sales_data_training.csv', dtype=float )
training_data_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1.0,0.0,1.0,0.0,1.0,0.0,0.0,132717.0,59.99
1,4.5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,83407.0,49.99
2,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,62423.0,49.99
3,4.5,1.0,0.0,0.0,0.0,0.0,0.0,1.0,69889.0,39.99
4,4.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,161382.0,59.99

In [29]:
X_training = training_data_df.drop('total_earnings', axis=1).values
Y_training = training_data_df[ ['total_earnings'] ].values
print (X_training.shape, Y_training.shape)

((1000, 9), (1000, 1))

In [30]:
test_data_df = pd.read_csv('./DataSet/sales_data_test.csv',dtype=float)
test_data_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1.0,1.0,1.0,0.0,1.0,0.0,1.0,247537.0,59.99
1,2.5,0.0,0.0,0.0,1.0,1.0,0.0,0.0,73960.0,59.99
2,3.5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,82671.0,59.99
3,4.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,137456.0,39.99
4,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,89639.0,59.99

In [31]:
X_test = test_data_df.drop('total_earnings', axis=1).values
Y_test = test_data_df[ ['total_earnings'] ].values
print ( X_test.shape, Y_test.shape )

((400, 9), (400, 1))

In [32]:
X_scaler = MinMaxScaler(feature_range=(0,1))
Y_scaler = MinMaxScaler( feature_range=(0,1) )

In [33]:
X_scaled_training = X_scaler.fit_transform( X_training )
Y_scaled_training = Y_scaler.fit_transform( Y_training )

In [34]:
X_scaled_test = X_scaler.transform( X_test )
Y_scaled_test = Y_scaler.transform( Y_test )

In [35]:
print ( "Y values can be obtained by multiplying {:,.4f} and adding {:,.2f} ".format(Y_scaler.scale_[0], Y_scaler.min_[0]) )

Y values can be obtained by multiplying 0.0000 and adding -0.12